/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  min-height: 97vh;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}

.footer-elements {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-elements .footer-btn {
  align-self: center;
}
.changebg:hover {
  background-color: #b14242;
}
.changebg::hover::after {
  content: ' update user ';
  position: absolute;
  top: 0;
  right: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.justifyCspBtw {
  justify-content: space-between !important;
}
.justifyCctr {
  justify-content: center;
}
.flex {
  display: flex;
}
.flexdCln {
  flex-direction: column !important;
}
@media screen and (max-width: 420px) {
  .my-modal .modal-dialog {
    max-width: 57%;
  }
  .footer-elements {
    flex-direction: column;
    align-items: center;
  }
  .footer-elements .footer-btn {
    align-self: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
